.title {
  width: 80%;
  margin: 1rem auto;
  box-shadow: 3px 3px 10px rgb(72, 153, 229);
}
.container {
  width: 80%;
  margin: 1rem auto;
  box-shadow: 3px 3px 10px rgb(72, 153, 229);
}
button{
  margin: 1rem;
  padding: 0.3rem 1rem;
}
#letters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  height: 5rem;
}
#letters span{
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 1rem;
  border-bottom: 2px solid black;
}
.picture{
  margin:0 auto;
  max-width:60%;
  height: 400px;
  border:1px solid gray;
  text-align: center;
  box-shadow: 3px 3px 10px rgb(113, 4, 4);
  background-color: rgb(251, 130, 130);
}
#error{
  margin-left: 1rem;
  font-size: 1.2rem;
}